<div
  class="flex flex-col items-center justify-center space-y-4 p-4 my-12 border border-gray-200 rounded-lg shadow-lg"
>
  <p class="font-semibold text-lg text-gray-700">
    Bored? Add some random tasks
  </p>
  <input
    type="number"
    class="px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
    placeholder="Number of tasks"
    min="1"
    required
  />
  <button
    class="px-4 py-2 bg-blue-500 text-white rounded-lg font-semibold hover:bg-blue-600 focus:outline-none"
  >
    Add
  </button>
</div>
